<app-navbar></app-navbar>

<!-- Global Loading Spinner -->
<div *ngIf="isLoading" class="fixed inset-0 z-50 flex items-center justify-center bg-black/30 transition-opacity duration-300 animate-fade-in-out">
  <div class="flex flex-col items-center">
    <div class="w-16 h-16 border-4 border-dashed rounded-full border-t-[#2563eb] dark:border-[#2563eb] animate-spin shadow-xl"></div>
    <span class="mt-4 text-lg font-semibold text-white drop-shadow-lg tracking-wide">Loading...</span>
  </div>
</div>

<div class="  p-8  bg-white dark:bg-gray-900">
  <router-outlet></router-outlet>
  <!-- <app-product-list></app-product-list> -->
</div>

<app-footer class="bottom-0 w-full bg-white dark:bg-gray-900  "></app-footer>


